body {
  background: linear-gradient(to bottom right, #ABB0B8, #6F7378);
  color: #ccd6f6;
  font-family: 'Inter', sans-serif;
  
}

nav {
  background: linear-gradient(to top left, #6F7378, #ABB0B8);
  color: black;
  padding: 15px;
  text-align: center;
}

nav a {
  color: #544f47;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  color: #646464;
}

hr {
  color: #544f47
}

h1 {
  font-family: 'Montserrat', sans-serif;
  margin: 5px;
  text-align: center;
}

h2 {
  color: #544f47;;
  margin:5px;
  text-align: left;
}

h3 {
  color: #544f47;;
  margin: 5px;
  text-align: center;
}

img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  margin: auto;
  text-align: center;
}

ul {
  color: #544f47;
  text-align: left;
}

p {
  color: #544f47;
  text-align: center;
}
