body {
  background: linear-gradient(to bottom right, #ABB0B8, #6F7378);
  color: #ccd6f6;
  font-family: 'Inter', sans-serif;
  
}

.container {
  width: 60%;
  margin: 40px auto;
  padding: 30px;
  background-color: #f5f5f5;
}

nav {
  background: linear-gradient(to top left, #6F7378, #ABB0B8);
  color: black;
  padding: 15px;
  text-align: center;
}

nav a {
  color: #544f47;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  color: #646464;
}

hr {
  color: #544f47;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  margin: 5px;
  text-align: center;
  color: #545454;
  
}

h2 {
  color: #544f47;
  text-align: left;
  margin-top: 15px;
}

h3 {
  color: #544f47;
  margin: 5px;
  text-align: center;
  margin-top: 10px;
}

img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  color: #544f47;
  text-align: left;
  margin-bottom: 20px;
  padding-left: 20px;
}

li {
  color: #544f47;
  margin-bottom: 5px;
}

p {
  color: #6F7378;
  text-align: center;
}
